﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="calendar"></div>

<div class="modal fade" id="modalAdicionarEvento" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Novo Evento</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4 float-left">
                        <label>Título</label>
                    </div>
                    <div class="col-md-8 float-right">
                        <input type="text" class="form-control" id="txtNomeNovoEvento" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4 float-left">
                        <label>Descrição</label>
                    </div>
                    <div class="col-md-8 float-right">
                        <input type="text" class="form-control" id="txtDescricaoNovoEvento" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4 float-left">
                        <label>Local</label>
                    </div>
                    <div class="col-md-8 float-right">
                        <input type="text" class="form-control" id="txtLocalNovoEvento" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4 float-left">
                        <label>Data de início</label>
                    </div>
                    <div class="col-md-8 float-right">
                        <input type="text" class="form-control" id="txtDataInicioNovoEvento" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4 float-left">
                        <label>Data de término</label>
                    </div>
                    <div class="col-md-8 float-right">
                        <input type="text" class="form-control" id="txtDataFimNovoEvento" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <label>Tipo de evento:</label>
                    </div>
                    <div class="col-md-8">
                        <select class="form-control" id="ddlTipoEvento"></select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4 float-left">
                        <label>Participantes</label>
                    </div>
                    <div class="col-md-8 float-right">
                        <select class="form-control" id="ddlParticipantesNovoEvento" multiple=""></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnSalvarEvento">Salvar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDetalhesEvento" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes do Evento</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <label>Título:</label>
                    </div>
                    <div class="col-md-8">
                        <label id="txtNomeEvento"></label>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <label>Descrição:</label>
                    </div>
                    <div class="col-md-8">
                        <label id="txtDescricaoEvento"></label>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <label>Local:</label>
                    </div>
                    <div class="col-md-8">
                        <label id="txtLocalEvento"></label>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <label>Data de início:</label>
                    </div>
                    <div class="col-md-8">
                        <label id="txtDataInicio"></label>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <label>Data de término:</label>
                    </div>
                    <div class="col-md-8">
                        <label id="txtDataFim"></label>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <label>Tipo de evento:</label>
                    </div>
                    <div class="col-md-8">
                        <label id="txtTipoEvento"></label>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4 float-left">
                        <label>Participantes</label>
                    </div>
                    <div class="col-md-8 float-right">
                        <select class="form-control" id="ddlParticipantesEvento"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnEditarEvento">Editar</button>
                <button type="button" class="btn btn-danger" id="btnExcluirEvento">Excluir</button>
            </div>
        </div>
    </div>
</div>
